[Unit]
Description=Virtuoso: A simple Discord music bot...
After=network-online.target

[Service]
User=ubuntu
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/home/ubuntu/virtuoso/
ExecStart=/usr/local/bin/node index.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
