[Unit]
Description=Conducter Bot, Lavalink service config...
After=network-online.target

[Service]
User=albie
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/home/albie/conducter/lava/
ExecStart=/bin/java -jar lavalink.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
