[Unit]
Description=Discord bot, Tempo, as a service...
After=network-online.target

[Service]
User=albie
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/home/albie/tempo/prod
ExecStart=/bin/java -jar /home/albie/tempo/prod/Lavalink.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
