[Unit]
Description=Discord bot, Tempo, as a service...
After=network-online.target

[Service]
User=albie
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/home/albie/tempo/prod
ExecStart=/usr/bin/dotnet /home/albie/tempo/prod/Tempo.dll
Restart=always
RestartSec=10
Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target
