[Unit]
Description=Discord bot, Tempo, as a service...
After=network-online.target

[Service]
User=albie
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/home/albie/tempo
ExecStart=/bin/python3 /home/albie/tempo/main.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
